@{
    ViewBag.Title = "Main";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    @ViewData["SubTitle"]
                </h1>
                <small>@ViewData["Message"]</small>
                @*<iframe height="100%" width="100%" src="https://twitter.com/search?l=en&q=%23BM&src=typd" name="iframe_a"></iframe>*@
                @*<iframe border=0 frameborder=0 height=100% width=100%
                    src="https://twitframe.com/show?url=https%3A%2F%2Ftwitter.com%2Fjack%2Fstatus%2F20"></iframe>*@
                @using (Html.BeginForm("Tweets", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group">
                        <label class="col-md-2 control-label">Hashtag</label>
                        <div class="col-md-7">
                            <input type="text" name="hashtag" class="form-control" /><button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                }
                <div id="tweets">

                </div>
            </div>
        </div>
    </div>
</div>